*~
.deps
.libs
~.o
missing
ltmain.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
compile
m4/
*.o
*.lo
config.h
*.la
libtool
stamp-h1
doc/*.info
doc/version.texi
doc/stamp-vti
